# Ignore node_modules directory
node_modules/

# Ignore virtual environment directory for Python projects
venv/

# Ignore environment configuration files
.env

# Ignore build artifacts and compiled code
build/
dist/
*.log
